html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 20px;
    background: #cfe1ff;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.grow-on-hover {
    cursor: pointer;
    transition: transform 0.3s ease; /* Adding a transition for smooth effect */
}

.grow-on-hover:hover {
    transform: scale(1.1); /* Increase the size by 10% on hover */
}