html {
    background-color: #cfe1ff;
}

a {
    text-decoration: none;
}

body {
    margin: 2%;
}

h1 {
    display: flex;
    justify-content: center;
}

section {
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}

section > div {
    max-height: 250px;
    padding: 0% 10%;
    
}

img {
    height: 250px;

/* ---- */

}html {
    background-color: #cfe1ff;
}

p {
    margin: 0px;
}

img {
    background-color: #c4c4c4;
}

.code1 {
    margin-left: 3%;
}

.code2 {
    margin-left: 6%;
}

.code3 {
    margin-left: 9%;
}

.globalSizing {
    margin: 1vh;
}

.leftImage {
    width: 20%;
}